body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #191B1F;
}

.container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        display: grid;
        min-width: 100vw;
        max-height: 95vh !important;
        gap: 25px;
        grid-template-columns: 5.5% 25% auto;
        padding: 1.2rem;
}

.card {
        position: relative;
        overflow: hidden;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        /* White */
        transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card::before,
.card::after {
        content: '';
        width: 150px;
        height: 150px;
        position: absolute;
        z-index: -1 !important;
        border-radius: 50%;
        filter: blur(60px);
}

.card::before {
        animation: move-blue 10s infinite linear alternate;
        background: linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6));
}

.card::after {
        animation: move-pink 10s infinite linear alternate;
        right: 0;
        bottom: 0;
        background: linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6));
}

@keyframes move-blue {
        0% {
                transform: translate(-100%, -100%);
        }

        100% {
                transform: translate(100%, 100%);
        }
}

@keyframes move-pink {
        0% {
                transform: translate(100%, 100%);
        }

        100% {
                transform: translate(-100%, -100%);
        }
}

.card:hover::before {
        opacity: 0;
}

.card:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-content {
        position: relative;
        z-index: 3;
}

.card h2 {
        margin-top: 0;
        font-size: 24px;
        color: #333;
        /* Dark Grey */
        margin-bottom: 10px;
}

.card p {
        margin: 0;
        font-size: 18px;
        color: #666;
        /* Medium Grey */
}

.low {
        background-color: #d0f0c0;
        /* Light Green */
}

.medium {
        background-color: #fffacd;
        /* Light Yellow */
}

.high {
        background-color: #ffb6c1;
        /* Light Pink */
}

@media (max-width: 768px) {
        .card {
                width: calc(100% - 20px);
        }
}