.row {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 25px;
        padding-top: 2rem;
        max-width: 100vw;
}

.card {

        border-radius: 20px !important;
}

h2 {
        color: white !important;
}

.card-content p {
        color: wheat;
}

.flex-column {
        width: fit-content;
}